@charset "UTF8";

body{
    background-color: #a2f1f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
h1{
    text-align: center;
}
h2{
    text-align: right;
}
p{
    text-align: justify;
    text-indent: 30px;
}
/*Medidas absolutas
cm, mm, in, px, pt, pc

Medidas Relativas
em, ex, rem, vw, vh, %
16px = 1em */

/*font-weight (peso da fonte)
lighter, normal, bold, bolder

font-family: "work sans", sans serif;
font-weight: bolder;
font-size: 3em;
font-style: italic;

(todas essas tags podem estar em uma única linha conhecida como 'shorthand')
(ordem correta a seguir)
font-style -> font-weight -> font-size -> font-family 
 (exemplo) font: italic, bolder, 3em, sans-serif
 */
 
