body{
    background-color: #e9ffff;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: #008000;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: #ffc0cb;
    background-color: transparent;
    text-decoration: underline;
}

a:hover{
    color: #ff0000;
    background-color: transparent;
    text-decoration: underline;

}

a:active{
    color: #ffff00;
    background-color: transparent;
    text-decoration: underline;
}

.button:link, button:visited{
    background-color: #f44336;
    color: #ffffff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
}

.button:hover, button:active{
    background-color: red;
}