body{
    background-color: aquamarine;
    font-size: 20;
}
h1 { font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkseagreen;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}