@charset "UTF-8";

/*Em HTML é id = em CSS é #
  Em HTML é class = em CSS é .
  */

body{
    background-color: #aef6f6;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #046d00;
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: #ffffff;
}

h2{
    color: #496d47;
}

.basico{
    color: #6cf436;
}

.intermediario{
    color: #191a1a;
}

.avancado{
    color: #3333d0;
}